img {
  width: 100%;
  height: 300px;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.actions button {
  color: var(--blue);
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.actions button:hover {
  color: var(--purple);
}
.actions span {
  padding-left: 1rem;
}

@media screen and (max-width: 500px) {
  .posts {
    margin-left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: normal;
    /* background-color: blueviolet; */
  }
  .postcontainer {
    width: 80%;
    /* background-color: red; */
  }
}
