<div class="flex homecontainer">
    <app-navbar></app-navbar>
    <div class="home w-[90vw] flex ml-[10vw] justify-center py-6 gap-x-14">
        <div class="w-[40vw] leftcontainer flex flex-col">
            <!--MOCK POSTS START HERE-->
            <div class="postcontainer flex-col text-black font-550 text-base rounded-[15px]">
                <div class="post" *ngFor = "let post of post">
                    <div class="flex justify-between">
                        <p class="py-2 font-[550] text-base">{{post.fullname}}</p>
                        <!--DROPDOWN FOR EDITING AND DDELETING POST-->
                        <div class="post-actions-dropdown">
                            <div class="dropdown">
                                <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-content">
                                <button (click)="editPost(post.userID, post.postID)">Edit Post</button>
                                <button (click)="deletePost(post.postID, post.userID)">Delete Post</button>
                                </div>
                            </div>
                        </div>
                        <!--END OF DROPDOWN-->
                    </div>
                    <div>
                        <img
                            src="{{post.imageUrl}}"
                            class="rounded-[10px]"
                            alt=""
                        />
                    </div>
                    <div>
                        <p class="py-2 text-center">
                        {{post.postContent}}
                        </p>
                    </div>

                    <!--ACTIONS-->
                    <div class="actions">
                        <div class="flex flex-row items-center">
                        <div>
                            <button (click) = "toggleLike(post.postID)">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        </div>
                        <div><span class="px-4">LikeCount</span></div>
                        </div>
                        <button>
                            <i class="fa-solid fa-comment"></i>
                            <!-- <span class="px-4">300</span> -->
                        </button>
                    </div>
                    <!--ACTIONS END-->

                    <!--COMMENT INPUT FIELD-->
                    <div class="one flex justify-between items-center">
                        <input
                        type="text"
                        placeholder="Type your comments"
                        [(ngModel)]="newcommentText"
                        class="py-1.5"
                        />
                        <button type="submit" class="comment outline-none" (click)="onSubmitComment(post.postID)">
                        <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                    <!--COMMENT INPUT FIELD END-->

                    <!--COMMENTS container-->
                    <div class="postcomments p-2">
                        <div class="py-2" *ngFor="let comment of fetchedComments">
                            <p class="font-bold">{{comment.fullname}}</p>
                            <p>{{comment.comment}}</p>
                            <!--REPLY CONTAINER-->
                            <button (click)="toggleReply(comment.commentID, comment.postID, comment.userID, comment.parentCommentID)" class="text-[#6B7280] text-[13px] text-right">
                                Reply
                            </button>
                            <button (click)="editComment(comment.commentID, comment.postID, comment.userID)" class="text-[#6B7280] text-[13px] mx-8">Edit</button>
                            <button (click)="deleteComment(comment.commentID, comment.postID, comment.userID)" class="text-[#6B7280] text-[13px]">Delete</button>

                            <div *ngIf="showReply" class="reply-container flex justify-between items-center py-2">
                                <form action="" [formGroup] = "replyForm" (ngSubmit)="replycomment()" class="flex">
                                    <input [(ngModel)]="newReplyText" type="text" formControlName="reply" placeholder="Type your reply" class="py-1.0"/>
                                    <button type="submit" class="comment outline-none">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>

                            <!-- EDIT INPUT FIELD -->
                            <div *ngIf="iseditCommentVisible" class="reply-container flex justify-between items-center py-2">
                                <input [(ngModel)]="editedCommentText" type="text" class="py-1.0" placeholder="edit your comment"/>
                                <button  class="comment outline-none">
                                <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!---COMENTS CONTAINER END-->




                </div>
            </div>
            <!--MOCK POSTS END HERE-->
        </div>
    </div>
</div>
