<div class="flex allpostcontainer">
    <app-navbar></app-navbar>
    <div class="posts w-[90vw] h-[100vh] flex flex-col items-center bg-[#17151E] ml-[10vw]"> <!--Removed items-center-->
        <div class="postcontainer w-[80vw] flex flex-col text-white">
            <p class="p-[10px]">username</p>
            <img src="https://cdn.pixabay.com/photo/2016/11/29/03/46/christmas-tree-1867135_640.jpg"class="rounded-[10px]" alt="">
            <p class="p-[10px]">quas, assumenda beatae repellendus modi nisi? Pariatur non distinctio perferendis blanditiis nulla nobis porro voluptatum corporis enim ab.</p>
            <div class="actions">
                <button><i class="fa-solid fa-thumbs-up"></i> <span>2000</span> </button>
                <button><i class="fa-solid fa-comment"></i> <span>20</span> </button>
            </div>           
        </div>

        
        
        
    </div>
</div>
