.home {
  background-color: var(--grey);
  justify-content: center;
}
.top {
  display: flex;
  width: 98%;
  justify-content: flex-end;
  align-items: center;
  /* position: fixed; */
  top: 0;
  z-index: 50;
  gap: 40px;
}
/* .search-container{
  margin-bottom: 10rem;
} */
.searchInput input {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(21, 23, 30, 0.1);
  border: 2px solid rgb(107, 114, 128);
  color: black;
}
.searchInput input:focus,
.searchInput input:hover {
  border: 2px solid rgb(107, 114, 128);
}
.postcontainer {
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  background-color: var(--white);
  margin: 15px;
}
.postcontainer .post {
  width: 90%;
}
img {
  width: 100%;
  /* height: 50%; */
}
.actions {
  display: flex;
}
.actions button {
  color: var(--purple);
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.actions button i:hover {
  color: var(--purple3);
}
.postcontainer input {
  width: 100%;
  border-bottom: 2px solid rgb(107, 114, 128);
  outline: none;
  color: black;
  background-color: transparent;
  margin-bottom: 2px;
  /* border: none; */
}
.postcomments {
  overflow-y: scroll;
  height: 10rem;
}
.postcomments::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.postcomments::-webkit-scrollbar-track {
  background-color: transparent; /* color of the scroll track */
}
.postcomments::-webkit-scrollbar-thumb {
  background-color: var(--grey); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}
.comment i {
  color: var(--purple);
}
.comment i:hover {
  color: var(--purple3);
}
.personalinfo {
  right: 10px;
  background-color: var(--white);
  padding: 20px;
  height: min-content;
}
.personalinfo > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.personalinfo div img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 50%;
  max-width: 60%;
}
/*DROPDOWN CONTENT*/
.post-actions-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown {
  display: inline-block;
}
.dropbtn {
  /* background-color: #3498db; */
  color: var(--purple);
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  color: var(--purple);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #2980B9;
} */

@media screen and (max-width: 920px) {
  .personalinfo div {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .home {
    margin-left: 0;
    width: 100%;
  }
  .top {
    /* padding-top: 30px; */
    /* position: relative; */
    width: 100%;
    /* gap: 10px; */
  }
  .search-container {
    position: fixed;
    top: 6rem;
    gap: 20px;
  }

  .personalinfo {
    display: none;
  }
  .leftcontainer {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .overlay .container .btns {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .top {
    gap: 0;
  }
}
@media screen and (max-width: 350px) {
  .search-container {
    flex-direction: column;
    gap: 5px;
  }
}
