<div class="flex homecontainer">
  <app-navbar></app-navbar>
  <div class="home w-[90vw] flex ml-[10vw] py-6 gap-x-14">
    <div class="leftcontainer w-[40vw] flex flex-col">
      <!--DIVISION 1-->
      <div class="top">
        <!--SEARCH FUNCTIONALITY-->
        <div class="search-container flex gap-4">
          <!-- <div class="searchInput">
                        <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search post">
                    </div> -->
          <!--POST BUTTON-->
          <div class="search-btn">
            <button
              (click)="viewForm()"
              class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white"
            >
              Create Post
            </button>
          </div>
        </div>
      </div>

      <!--DIVISION 2-->

      <!--MOCK POSTS START HERE-->
      <div data-cy="allPosts" class="postcontainer flex flex-col text-black font-550 text-base rounded-[15px]" *ngFor="let post of allPosts">
        <div class="post">
          <div class="flex justify-between">
            <p class="py-2 font-[550] text-base">{{post.creatorName}}</p>
            <!--DROPDOWN FOR EDITING AND DDELETING POST-->
            <div class="post-actions-dropdown">
              <div class="dropdown">
                <!-- <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                <div class="dropdown-content">
                  <button (click)="editPost(post.userID, post.postID)">Edit Post</button>
                  <button (click)="deletePost(post.postID, post.userID)">Delete Post</button>
                </div> -->
            </div>
          </div>
          <!--END OF DROPDOWN-->
          </div>
          <div>
            <img
              src="{{post.imageUrl}}"
              class="rounded-[10px]"
              alt=""
            />
          </div>
          <div>
            <p class="py-2 text-center">
              {{post.postContent}}
            </p>
          </div>
          <div class="actions">
            <div class="flex flex-row items-center">
              <div>
                <button (click) = "toggleLike(post.postID)">
                <i class="fa-solid fa-thumbs-up"></i>
                </button>
              </div>
              <div><span class="px-4">{{ postLikeCount }}</span></div>
            </div>
            <button>
              <i class="fa-solid fa-comment"></i>
              <!-- <span class="px-4">300</span> -->
            </button>
          </div>
          <div class="flex justify-between items-center">
            <input
              type="text"
              placeholder="Type your comments"
              class="py-1.5"
              [(ngModel)]="newcommentText"
            />
            <button type="submit" class="comment outline-none" (click)="onSubmitComment(post.postID)">
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </div>
          <!-- comments container -->
          <div class="postcomments p-2" *ngIf="post.comments && post.comments.length > 0">
            <div class="py-2" *ngFor="let comment of post.comments">
              <p class="font-bold">{{comment.fullname}}</p>
              <p>{{comment.comment}}</p>
              <!--REPLY CONTAINER-->
              <button
                (click)="toggleReply(comment.commentID, comment.postID, comment.userID, comment.parentCommentID)"
                class="text-[#6B7280] text-[13px] text-right"
              >
                Reply
              </button>
              <button (click)="editComment(comment.commentID, comment.postID, comment.userID)" class="text-[#6B7280] text-[13px] mx-8">Edit</button>
              <button class="text-[#6B7280] text-[13px]" (click)="deleteComment(comment.commentID, comment.postID, comment.userID)">Delete</button>

              <!--REPLY TO A COMMENT-->
              <div *ngIf="showReply" class="reply-container flex justify-between items-center py-2">
                <form [formGroup] = "replyForm" (ngSubmit)="replycomment()" class="flex">
                  <input [(ngModel)]="newReplyText" type="text" formControlName="reply" placeholder="Type your reply" class="py-1.0"/>
                  <button type="submit" class="comment outline-none">
                    <i class="fa-solid fa-paper-plane"></i>
                  </button>
                </form>
              </div>

              <!-- EDIT INPUT FIELD -->
              <div *ngIf="iseditCommentVisible" class="reply-container flex justify-between items-center py-2">
                <form [formGroup] = "editCommentForm" (ngSubmit)="editcomments()" class="flex">
                  <input [(ngModel)]="editedCommentText" formControlName="reply" type="text" class="py-1.0" placeholder="edit your comment"/>
                  <button  class="comment outline-none">
                    <i class="fa-solid fa-paper-plane"></i>
                  </button>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <!--MOCK POSTS END HERE-->

      <!---ADD POST FORM CONTAINER-->
      <div class="postform overlay" *ngIf="isFormVisible">
        <div class="container">
          <div class="btns flex justify-end py-2">
            <button (click)="hideform()"><i class="fa-solid fa-xmark"></i></button>
             <!-- <input
                data-cy="add_post_btn"
                type="submit"
                value="Close Form"
                (click)="hideform()"
                class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white"
              /> -->
          </div>
          <form
            action=""
            data-cy="addPostForm"
            [formGroup]="addPostForm"
            (ngSubmit)="newPost()"
            class="flex flex-col my-4 mx-6"
          >
            <div class="flex flex-col py-1">
              <label class="text-[1rem]">Image</label>
              <ngx-dropzone (change)="onSelectPostImage($event)">
                <ngx-dropzone-label>Drop Post Image</ngx-dropzone-label>
                <ngx-dropzone-preview
                  *ngFor="let f of files"
                  [removable]="true"
                  (removed)="onRemovePostImage(f)"
                >
                  <ngx-dropzone-label
                    >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
                  >
                </ngx-dropzone-preview>
              </ngx-dropzone>

              <!-- <input data-cy="image" type="file" name="file" (change)="onFileChanged($event)" formControlName="image" placeholder="Image Url" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]"> -->
              <!-- <div *ngIf="addPostForm.get('image')?.invalid && addPostForm.get('image')?.touched" class="text-red-500">Image is required</div> -->
            </div>
            <div class="flex flex-col py-1">
              <label class="text-[1rem]">Caption</label>
              <input
                data-cy="content"
                type="text"
                formControlName="content"
                placeholder="content"
                class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]"
              />
            </div>
            <div class="btns flex justify-end py-2">
              <input
                data-cy="add_post_btn"
                type="submit"
                value="Add new post"
                class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white"
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="personalinfo w-[20vw] text-black mr-[20px] rounded-[15px]">
      <p class="font-[550] text-lg">Suggestions</p>   
      <div class="my-[20px] rounded-[10px] py-1" *ngFor="let user of allusers">
        <img
          src="{{user.profileUrl}}"
          alt=""
        />
        <div>
          <p>{{user.fullname}}</p>
          <button
            class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white"
          >
            Follow
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
