<div class="flex homecontainer">
    <app-navbar></app-navbar>
    <div class="home w-[90vw] flex bg-[#17151E] ml-[10vw]">
        <div class="leftcontainer flex flex-col px-[5px]">
            <div class="postcontainer flex  w-[70vw] flex flex-col text-white">
                <p class="">username</p>
                <img src="https://cdn.pixabay.com/photo/2016/11/29/03/46/christmas-tree-1867135_640.jpg"class="rounded-[10px]" alt="">
                <p class="p-[10px]">quas, assumenda beatae repellendus modi nisi? Pariatur non distinctio perferendis blanditiis nulla nobis porro voluptatum corporis enim ab.</p>
                <div class="actions">
                    <button><i class="fa-solid fa-thumbs-up"></i></button>
                    <button><i class="fa-solid fa-comment"></i></button>
                </div>           
            </div>
            
        </div>
       
        <div class="personalinfo w-[20vw] text-white">
            <p>Suggestions</p>
            <div class="my-[20px] p-[5px] rounded-[10px] text-center">
                <p>Username</p>
                <button  class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow</button>
            </div>
            <div class="my-[20px] p-[10px] rounded-[10px] text-center">
                <p>Username</p>
                <button  class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow</button>
            </div>
            <div class="my-[20px] p-[10px] rounded-[10px] text-center">
                <p>Username</p>
                <button  class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow</button>
            </div>
            <div class="my-[20px] p-[10px] rounded-[10px] text-center">
                <p>Username</p>
                <button  class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow</button>
            </div>
            <div class="my-[20px] p-[10px] rounded-[10px] text-center">
                <p>Username</p>
                <button  class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow</button>
            </div>
        </div>
    </div>
</div>
