<div class="flex allsummarycontainer">
    <app-navbar></app-navbar>
    <div class="summary w-[90vw] h-[100vh] flex bg-[#17151E] ml-[10vw] text-base">
        <div class="w-[50vw] summarycontainer flex flex-col text-black">
            <!--SEARCH FUNCTIONALITY-->
            <div class="searchInput flex justify-end">
                <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search user" [(ngModel)]="searchText">
            </div>
            <!-- personinfo -->
            <div class="allPersonalInfo mt-[20px]">
                <div *ngFor="let user of allusers | search:searchText ">
                    <div class="pdetails">
                        <div class="top">
                            <img src="{{user.profileUrl}}" alt="">
                            <p class="px-2">{{user.fullname}}</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white" (click) = followUser(user.userID) >Follow</button>
                        </div>
                    </div>
                    <hr>
                </div>                
            </div>
        </div>
    </div>
</div>