<div class="allsummarycontainer">
    <!-- <app-navbar></app-navbar> -->
    <div class="summary flex">
        <div class="w-[100%] summarycontainer flex flex-col text-base text-black">
            <!--SEARCH FUNCTIONALITY-->
            <div class="searchInput flex justify-end">
                <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search user" [(ngModel)]="searchText">
            </div>
            <!-- personinfo -->
            <div class="allPersonalInfo mt-[20px]">
                <div *ngFor = "let user of followers | followers:searchText ">
                    <div class="pdetails">
                        <div class="top">
                            <img src="{{user.profileUrl}}" alt="">
                            <p class="px-2">{{user.fullname}}</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white">Follow</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>