/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

:root{
    --blue:#2563EB;
    --purple:#7e22ce;
    --darkpurple:#581C87;
    --purple3:#A25BEA;
    --white:#FEFEFE;
    --black:#17151E;
    --grey:#BDBEBE;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
