<div class="reseerror-messaget w-[100vw] h-[100vh] flex flex-col justify-center items-center text-base">
    <h2 class="text-center mb-2 text-[2rem]">Reset Password.</h2>

   <!-- <div *ngIf="showSuccessMessage" class="success-message" data-cy="logged-in-success-popup">
        <p>User logged in successfully.</p>
    </div>
    
    <div *ngIf="showErrorMessage" class="error-message" data-cy="logged-in-error-popup">
       <p>User login rejected</p>
    </div> -->

    <form data-cy="resetForm"  [formGroup] = "resetForm" (ngSubmit)="resetPassword()" class="flex flex-col my-4 mx-6 text-black py-10 px-6">
        <div  class="success-message"  *ngIf="showSuccessMessage" data-cy="registered-success-popup">
            <img src="https://i.gifer.com/7efs.gif" alt="">
            <!-- User login successfully. -->
        </div>

        <div class=""  *ngIf="showErrorMessage" data-cy="registered-failure-popup">
            <img src="https://cdn.dribbble.com/users/251873/screenshots/9388228/error-img.gif" alt="">
            <!-- User login failed. -->
        </div>

        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Email</label>
            <input data-cy="email" type="email" formControlName="email" placeholder="Input your email" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="text-red-500">Email is required</div>
        </div>
        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Token</label>
            <input data-cy="token" type="text" formControlName="resetToken" placeholder="Input the token" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="resetForm.get('resetToken')?.invalid && resetForm.get('resetToken')?.touched" class="text-red-500">Token is required</div>
        </div>
        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Password</label>
            <input data-cy="userPassword" type="password" formControlName="newPassword" placeholder="New password" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="text-red-500">Password is required</div>
        </div>
        <div class="flex flex-col">
            <input data-cy="login_user_btn" type="submit" value="Reset Password" class="rounded-[10px] border-solid border-[1px] bg-[#2563EB] border-[#2563EB] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer">
        </div>
    </form>
</div>