.sidebar {
  height: 100vh;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.sidebar a:first-child{
  margin-top: 10px;
}
.sidebar i {
  margin-right: 5px;
}

@media screen and (max-width:500px) {
  .sidebar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    height: 5%;
    width: 100%;
  }
  .name{
    /* right: 0%;
    position: relative;
    bottom: none; */
    display: none;
  }
}