<div class="sidebar w-[10vw]">
    <p class="logo text-white text-xl font-bold mt-2 mb-8">Talky</p>
    <a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i></a>
    <a routerLink="/addpost" routerLinkActive="active"><i class="fa-solid fa-plus"></i></a>
    <a routerLink="/myposts" routerLinkActive="active"><i class="fa-solid fa-address-card"></i></a>
    <a routerLink="/people" routerLinkActive="active"><i class="fa-solid fa-users-line"></i></a>
    <a routerLink="" routerLinkActive="active"><i class="fa-solid fa-right-from-bracket"></i></a>
    <div class="name fixed bottom-0 text-white">
        <p><i class="fa-solid fa-circle-user"></i> Username</p>
    </div>
</div>
