.sidebar {
  height: 100vh;
  background-color: var(--darkpurple);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
/* .sidebar .logo{
  transform: rotate(-15deg) skew(30deg);
} */
.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.sidebar a:first-child {
  margin-top: 10px;
}
.sidebar i {
  margin-right: 5px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    height: 10%;
    width: 100%;
  }
  .name{
    display: none;
  }
}

/* @media screen and (max-width: 500px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    height: 5%;
    width: 100%;
  }
  .name {
    display: none;
  }
} */
