<div>
    <app-navbar></app-navbar>
    <div class="profilecontainer flex bg-[#17151E] ml-[10vw] h-[100vh] w-[90vw] text-white">
        <div class="profile">
            <div class="top">
                <p class="py-2">Hello, <span>Sandra Chege</span></p>
                <p class="py-2">_sandra_chege</p>
                <p class="py-4">I love beauty and emotion. 🥰 I'm passionate about photography and learning. 📚 I explore genres and styles. 🌈 I think photography is storytelling. 📖 I hope you like and feel my photos.😊</p>
            </div>
            <div class="total flex justify-around">
                <p>posts: <span> 202</span> </p>
                <p>Following: <span> 620</span></p>
                <p>Followers: <span> 320</span></p>
            </div>
            <div class="buttons flex justify-around">
                <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">following</button>
                <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">followers</button>
            </div>
        </div>
    </div>
</div>