<div class="h-[100vh]"><!--Adds  height-->
    <app-navbar></app-navbar>
    <div class="profilecontainer flex ml-[10vw] w-[90vw] text-black text-base">
        <div class="profile text-base">
            <!--username and image-->
            <div class="top flex p-[10px] gap-x-4">
                <div class="image">
                    <img src="{{userDetails.profileUrl}}" alt="">
                </div>
                <div class="topleft">
                    <p class="py-1">Hello, <span>{{userDetails.fullname}}</span></p>
                    <p class="py-1">{{userDetails.username}}</p>
                    <p class="py-4">{{userDetails.profileCaption}}</p>
                    <button (click)="updateProfile()" class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Edit Profile</button>
                </div>
            </div>
            <div class="total flex justify-around">
                <!-- <p>posts: <span> 202</span> </p> -->
                <button>Posts:<span class="px-2">202</span></button>
                <button><a routerLink="/followers">Followers<span class="px-2">300</span></a></button>
                <button><a routerLink="/following">Following<span class="px-2">300</span></a></button>
                <!-- <button (click) = "viewFollowers()" class="hover:text-[#0000FF] hover:text-bold hover:text-[18px]">Followers: <span class="px-2">300</span></button> -->
                <!-- <button (click) = "viewFollowing()" class="hover:text-[#8800FF] hover:text-bold hover:text-[18px]">Following: <span class="px-2">300</span></button> -->
            </div>
            <!-- POST CONTAINER -->
            <div class="myposts">
                <div>
                    <a routerLink="/myposts">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/46/christmas-tree-1867135_640.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a routerLink="/myposts">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/46/christmas-tree-1867135_640.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a routerLink="/myposts">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/46/christmas-tree-1867135_640.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!--Followers container-->
        <div class="followersform overlay" *ngIf="isFollowersVisible">
            <div class="container flex flex-col">
                <div class="closeicon"><button (click)="hideform()"><i class="fa-solid fa-xmark"></i></button></div>
                <div class="searchInput">
                    <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search post">
                </div>
                <div class="flex flex-wrap justify-around">
                    <p class="py-4 text-black">Sandra Mwihaki</p> 
                    <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Follow Back</button>
                </div>
            </div>
        </div>
        <!--Following container-->
        <div class="followingform overlay" *ngIf="isFormVisible">
            <div class="container flex flex-col">
                <div class="closeicon"><button (click)="hideform()"><i class="fa-solid fa-xmark"></i></button></div>
                <div class="searchInput">
                    <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search post">
                </div>
                <div class="flex flex-wrap justify-around">
                    <p class="py-4 text-black">Sandra Mwihaki</p> 
                    <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Unfollow</button>
                </div>
            </div>
        </div>
        <!--Profile form-->
        <div class="profileform overlay" *ngIf="isProfileFormVisible">
            <div class="container text-black">
                <form [formGroup] = "profileForm" (ngSubmit)="updateProfile()">
                    <div class="closeicon"><button (click)="hideform()"><i class="fa-solid fa-xmark"></i></button></div>
                    <div class="flex flex-col py-1">
                        <label class="text-[1rem] text-black">Enter Full Name:</label> 
                        <input data-cy="fullName" type="text" formControlName="fullName" placeholder="Enter your full name" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                        <div *ngIf="profileForm.get('fullName')?.invalid && profileForm.get('fullName')?.touched" class="text-red-500">Full name is required</div>
                    </div>
       
                    <div class="flex flex-col py-1">
                        <label class="text-[1rem] text-black">Enter profile Url:</label>
                        <input data-cy="profileUrl" type="file" formControlName="profileUrl" placeholder="Enter profile image url" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                        <div *ngIf="profileForm.get('profileUrl')?.invalid && profileForm.get('profileUrl')?.touched" class="text-red-500">Profile Url is required</div>
                    </div>

                    <div class="flex flex-col py-1">
                        <label class="text-[1rem] text-black">Enter profile caption:</label> 
                        <input data-cy="usercaption" type="text" formControlName="profileCaption" placeholder="Enter your profile caption" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                        <div *ngIf="profileForm.get('profileCaption')?.invalid && profileForm.get('profileCaption')?.touched" class="text-red-500">Profile Caption is required</div>
                    </div>

                    <div class="flex flex-col">
                        <input data-cy="update_user_btn" type="submit" value="Update" class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white my-2">
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>