<div>
    <app-navbar></app-navbar>
    <div class="profilecontainer flex flex-col bg-[#17151E] ml-[10vw] h-[100vh] w-[90vw] text-white">
        <div class="top">
            <p>Hello <span>Username</span></p>
            <p class="py-8">This is your profile page. You can see the number of your followers and the number of those you are following</p>
        </div>
        <div class="myprofile w-[60vw] flex flex-col">
                <p class="flex items-center py-4"><i class="fa-solid fa-user"></i> <span>About</span></p>
                <!-- <form [formGroup]=" ProfileForm" (ngSubmit) = "updateProfile()">
                    <div class="flex justify-between py-4 items-center px-4">
                        <label for="">Full Name</label>
                        <input type="text" data-cy="userName" formControlName="userName" placeholder="Jane Doe" class="p-4 w-[30vw] border-gray-200 border-[0.5px] outline-none">
                    </div>
                    <div class="flex justify-between py-4 items-center px-4">
                        <label for="">Email</label>
                        <input type="text"data-cy="email" formControlName="email" placeholder="janedoe@gmail.com" class="p-4 w-[30vw] border-gray-200 border-[0.5px] outline-none">
                    </div>
                    <div class="flex justify-between py-4 items-center px-4">
                        <label for="">Phone Number</label>
                        <input type="number" data-cy="phone_no" formControlName="phone_no" placeholder="700000000" class="p-4 w-[30vw] border-gray-200 border-[0.5px] outline-none">
                    </div>
                    <div class="flex justify-end py-4 items-center px-4">
                        <button data-cy="updateProfile" class="bg-[#D03E3B] text-white px-4 py-2 rounded-md" type="submit">Update Profile</button>
                    </div>
                </form> -->
        </div>
    </div>
</div>