<div class="register w-[100vw] h-[100vh] flex flex-col justify-center items-center text-base">
    <h2 class="text-center mb-2 text-[2rem]">Let's get started</h2>

    <div class="registercontainer w-[70vw] flex justify-center items-center">
        <div class="w-[35vw] image">
            <img src="https://cdn.pixabay.com/photo/2016/04/14/07/56/icon-1328421_1280.jpg" alt="">
        </div>
        <div class="w-[35vw] textContainer">
            <div  class="success-message"  *ngIf="showSuccessMessage" data-cy="registered-success-popup">
                <img src="https://i.gifer.com/7efs.gif" alt="">
                <!-- User created successfully. -->
            </div>

            <div class="error-message"  *ngIf="showErrorMessage" data-cy="registered-failure-popup">
                <img src="https://cdn.dribbble.com/users/251873/screenshots/9388228/error-img.gif" alt="">
                <!-- User creation failed. -->
            </div>

            <form data-cy="registrationForm"  [formGroup] = "registrationForm" (ngSubmit)="registerNewUser()" class="flex flex-col my-4 mx-6">
                <div class="flex flex-col py-1 ">
                    <label class="text-[1rem]">Email</label>
                    <input data-cy="userEmail" type="email" formControlName="email" placeholder="Enter your email" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                    <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-red-500">Email is required</div>
                </div>

                <div class="flex flex-col py-1">
                    <label class="text-[1rem]">Enter Full Name:</label> 
                    <input data-cy="fullname" type="text" formControlName="fullname" placeholder="Enter your full name" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                    <div *ngIf="registrationForm.get('fullname')?.invalid && registrationForm.get('fullname')?.touched" class="text-red-500">Full name is required</div>
                </div>
            
                <div class="flex flex-col py-1">
                    <label class="text-[1rem]">Username</label>
                    <input data-cy="username" type="text" formControlName="username" placeholder="Enter your username" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                    <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="text-red-500">User name is required</div>
                </div>
                <div class="flex flex-col py-1">
                    <label class="text-[1rem]">Password</label>
                    <input data-cy="userPassword" type="password" formControlName="password" placeholder="Enter your password" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
                    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-red-500">Password is required</div>
                <!--<div *ngIf="registrationForm.get('password')?.errors?.minlength">Password must be at least 8 characters long.</div>-->
                </div>
                <div class="flex flex-col">
                    <input data-cy="register_user_btn" type="submit" value="Register" class="rounded-[10px] border-solid border-[1px] bg-[#2563EB] border-[#2563EB] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer">
                </div>
                <div class="my-[4px] text-gray-900 text-[13px]">
                    <a routerLink = "/login" class="active:text-[#f9fafb]" data-cy="accountyes">Already have an account</a>
                </div>
            </form>
        </div>
    </div>
</div>