<div class="reset w-[100vw] h-[100vh] flex flex-col justify-center items-center text-base">
    <h2 class="text-center mb-2 text-[2rem]">Reset Password.</h2>

    <!-- <div class="success-message" data-cy="registered-failure-popup">
        User login failed.
    </div> -->

    <form data-cy="resetForm"  [formGroup] = "resetForm" (ngSubmit)="resetPassword()" class="flex flex-col my-4 mx-6 text-black py-10 px-6">
        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Password</label>
            <input data-cy="userPassword" type="password" formControlName="password" placeholder="New password" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="text-red-500">Password is required</div>
        <!--<div *ngIf="registrationForm.get('password')?.errors?.minlength">Password must be at least 8 characters long.</div>-->
        </div>
        <div class="flex flex-col">
            <input data-cy="login_user_btn" type="submit" value="Reset Password" class="rounded-[10px] border-solid border-[1px] bg-[#2563EB] border-[#2563EB] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer">
        </div>
        <div class="my-[4px] text-gray-900 text-[13px]">
            <a routerLink = "/login" class="active:text-[#8800FF]">Remember password</a>
        </div>
    </form>
</div>