.reset {
  margin: 0;
  padding: 0;
  background-color: var(--darkpurple);
  color: white;
}
form {
  width: 40%;
  row-gap: 10px;
  background-color: var(--white);
  border-radius: 10px;
}
.success-message, .error-message{
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-message img, .error-message img {
  width: 100px;
  height: 100px;
}