<div class="login w-[100vw] h-[100vh] flex flex-col justify-center items-center">
    <h2 class="text-center mb-2 text-[2rem]">Sign in.</h2>

    <!-- <div  class="success-message" data-cy="registered-success-popup">
        User login successfully.
    </div>

    <div class="success-message" data-cy="registered-failure-popup">
        User login failed.
    </div> -->

    <form data-cy="loginForm"  [formGroup] = "loginForm" (ngSubmit)="loginNewUser()" class="flex flex-col my-4 mx-6">
        <div class="flex flex-col py-1 ">
            <label for="" class="text-[1rem]">Email</label>
            <input data-cy="userEmail" type="email" formControlName="email" placeholder="Enter your email" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500">Email is required</div>
        </div>
       
        <!-- <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Username</label>
            <input data-cy="userName" type="text" formControlName="userName" placeholder="Enter your username" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched" class="text-red-500">User name is required</div>
        </div> -->

        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Password</label>
            <input data-cy="userPassword" type="password" formControlName="password" placeholder="Enter your password" class="rounded-[10px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500">Password is required</div>
        <!--<div *ngIf="registrationForm.get('password')?.errors?.minlength">Password must be at least 8 characters long.</div>-->
        </div>
        <div class="flex flex-col">
            <input data-cy="login_user_btn" type="submit" value="Let's go" class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">
        </div>

        <div class="flex flex-col mt-4 text-[13px] text-gray-500">
            <div class="text-right active:text-[#8800FF]">
                <a routerLink="/reset" class="active:text-[#8800FF]">Forgot password</a>
            </div>

            <div class="flex flex-row flex-grow flex items-center">
                <hr class="flex-grow border-t border-gray-500 mx-4">
                <span class="text-gray-500">or</span>
                <hr class="flex-grow border-t border-gray-500 mx-4">
            </div>            

            <div class="text-left active:text-[#8800FF]">
                <a routerLink="/register" class="active:text-[#8800FF]">Don't have an account</a>
            </div>
        </div>
    </form>
</div>