<div class="flex allsummarycontainer">
    <app-navbar></app-navbar>
    <div class="summary w-[90vw] flex ml-[10vw]">
        <div class="w-[90vw] summarycontainer flex flex-col text-base text-black">
            <!--SEARCH FUNCTIONALITY-->
            <div class="searchInput flex justify-end">
                <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search user">
            </div>
            <!-- personinfo -->
            <div class="allPersonalInfo mt-[20px]">
                <table class="">
                    <thead>
                        <th>Following Profile Image</th>
                        <th>Following Username</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <th><img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt=""></th>
                            <td>Jane Doe</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Unfollow</button></td>
                        </tr> -->

                        <!---MOCK DATA STARTS-->
                        <tr>
                            <th><img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt=""></th>
                            <td>Jane Doe</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Unfollow</button></td>
                        </tr>
                        <tr>
                            <th><img src="https://images.pexels.com/photos/4921131/pexels-photo-4921131.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></th>
                            <td>Jane Smith</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Unfollow</button></td>
                        </tr>
                        <tr>
                            <th><img src="https://images.pexels.com/photos/3778212/pexels-photo-3778212.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></th>
                            <td>John Doe</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Unfollow</button></td>
                        </tr>
                         <tr>
                            <th><img src="https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""></th>
                            <td>Michael Johnson</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-4 py-[8px] hover:cursor-pointer text-white">Unfollow</button></td>
                        </tr>
                        <!-- MOCK DATA ENDS -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>