<div class="flex allsummarycontainer">
    <app-navbar></app-navbar>
    <div class="summary w-[90vw] h-[100vh] flex bg-[#17151E] ml-[10vw]">
        <div class="summarycontainer flex flex-col text-white">
            <!-- buttons -->
            <div class="buttoncontainer flex justify-between">
                <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]"><a routerLink="/people">Suggestions</a></button>
                <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]"><a routerLink="/followers">Followers</a></button>
                <button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]"><a routerLink="/following">Following</a></button>          
            </div>

            <!--SEARCH FUNCTIONALITY-->
            <div class="searchInput flex justify-end">
                <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search user">
            </div>

            <!-- personinfo -->
            <div class="allPersonalInfo mt-[20px]">
                <table>
                    <thead>
                        <th>Username</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jane Doe</td>
                            <td><button class="rounded-[10px] border-solid border-[1px] bg-[#0000FF] border-[#0000FF] outline-none px-4 py-[6px] hover:cursor-pointer hover:bg-[#8800FF] hover:border-[#8800FF]">Unfollow</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>