.summary {
  gap: 20px;
}
.searchInput {
  width: 90%;
  margin-top: 10px;
}
.searchInput input {
  width: 50%;
  border-radius: 10px;
  background-color: rgba(21, 23, 30, 0.1);
  border: 2px solid rgb(107, 114, 128);
  color: white;
}
.searchInput input:focus,
.searchInput input:hover {
  border: 2px solid rgb(107, 114, 128);
}
table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;  
}
th,
td {
  border: 1px solid black;
  text-align: center;
}
tr th img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  .summary {
    /* margin-left: 0;
    width: 100vw; */
    flex-direction: column;
  }
  /* .summarycontainer {
    width: 100%;
  } */
  .buttoncontainer {
    padding-top: 90px;
    gap: 10px;
  }
  .searchInput {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .searchInput input {
    width: 80%;
  }
  .allPersonalInfo{
    /* width: 100%; */
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:450px) {
  .buttoncontainer{
    flex-direction: column;
  }  
}