<div class="allsummarycontainer">
    <!-- <app-navbar></app-navbar> -->
    <div class="summary flex">
        <div class="w-[100%] summarycontainer flex flex-col text-base text-black">
            <!--SEARCH FUNCTIONALITY-->
            <div class="searchInput flex justify-end">
                <input type="search" name="" id="" class="rounded-[10px] p-[10px]" placeholder="search user">
            </div>
            <!-- personinfo -->
             <!-- personinfo -->
            <div class="allPersonalInfo mt-[20px]">
                <div>
                    <div class="pdetails">
                        <div class="top">
                            <img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt="">
                            <p class="px-2">Jane Doe</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white">UnFollow</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <div class="pdetails">
                        <div class="top">
                            <img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt="">
                            <p class="px-2">Jane Doe</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white">Unfollow</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <div class="pdetails">
                        <div class="top">
                            <img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt="">
                            <p class="px-2">Jane Doe</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white">Unfollow</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <div class="pdetails">
                        <div class="top">
                            <img src="https://cdn.pixabay.com/photo/2023/11/21/00/13/ai-generated-8402129_640.png" alt="">
                            <p class="px-2">Jane Doe</p>
                        </div>
                        <div>
                            <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-8 py-[4px] hover:cursor-pointer text-white">Unfollow</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>