.summary {
  gap: 20px;
}
.searchInput {
  width: 100%;
  margin-top: 10px;
}
.searchInput input {
  width: 50%;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgba(21, 23, 30, 0.1);
  border: 1px solid rgb(107, 114, 128);
  color: black;
  outline: none;
}
.searchInput input:focus,
.searchInput input:hover {
  border: 2px solid rgb(107, 114, 128);
}
.allPersonalInfo > div > .pdetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.pdetails .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.allPersonalInfo > div > .pdetails > .top > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.allPersonalInfo hr {
  border: 0.1px solid #e3e3e3;
}
@media screen and (max-width: 700px) {
  .summary {
    /* margin-left: 0;
    width: 100vw; */
    flex-direction: column;
  }
  /* .summarycontainer {
    width: 100%;
  } */
  .buttoncontainer {
    padding-top: 90px;
    gap: 10px;
  }
  .searchInput {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .searchInput input {
    width: 80%;
  }
  .allPersonalInfo {
    /* width: 100%; */
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .buttoncontainer {
    flex-direction: column;
  }
}
